.originals td {
    border-color: rgb(156 163 175);
    border-width: 2px;
    min-height:1.5rem;
    max-width:250px;
    min-width:50px;
}

.replacements td {
    border-color: rgb(192, 197, 205);
    border-width: 1px;
    min-height:1.5rem;
    max-width:250px;
    min-width:50px;
}

table{
    width: 250px;
}